<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit your post</h1>
    <div th:each="element : ${idList}" >
        <form method="post">
            <input type="text" th:value="${element.title}" name="title" placeholder="Name of post" class="form-control"><br>
            <input type="text" th:value="${element.anons}" name="anons" placeholder="Your anons" class="form-control"><br>
            <textarea name="allText" placeholder="Right your post here" class="form-control" th:text="${element.allText}"/><br>
            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>
</div>
</body>
</html>