<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="element : ${idList}" class="alert alert-info mt-2">
        <h1 th:text="${element.title}"/>
        <p th:text="${element.allText}"/>
        <p th:text="'Views: ' + ${element.views}"/>
        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action="'/blog/' + ${element.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>You can find your post here</p>
    </div>
</footer>
</body>
</html>